@font-face {
    font-family: 'Bulletto Killa, regular';
    src: url(./fonts/bulletto-killa.regular.ttf);
}
@font-face {
    font-family: 'Digital Counter 7, regular';
    src: url(./fonts/digital-counter-7.regular.ttf);
}
@font-face {
    font-family: 'FixSysCTT';
    src: url(./fonts/fixsysctt.ttf);
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 97.25vh;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
#title {
    font-family: 'Bulletto Killa, regular';
    font-size: medium;
    color: rgb(65, 65, 65);
    margin-top: 0;
    margin-bottom: 15px;
}
#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    width: 285px;
    padding: 20px;
    background-color: rgb(236, 236, 236);
}
#screen {
    height: 60px;
    margin-bottom: 15px;
    background-color: rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#numbers {
    font-size: 54px;
    font-family: 'FixSysCTT';
    color: rgb(50, 50, 50);
    text-align: right;
    padding-right: 3px;
    padding-top: 5px;
    height: 100%;
    pointer-events: none;
}
#numbers > a {
    text-decoration: none;
    color: inherit;
}
.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button {
    height: 60px;
    width: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
#plus, #minus, #multiply, #divide, #equals, #decimal {
    font-size: xx-large;
}

@media (hover: hover) {
  .button:hover {
    background-color: rgb(223, 223, 223);
  }
   .button:active {
    background-color: rgb(201, 201, 201);
  }
  #ac:hover {
    background-color:rgb(231, 178, 178);
  }
   #ac:active {
    background-color:rgb(206, 164, 164);
  }
  #c:hover {
    background-color: rgb(231, 206, 179);
  }
   #c:active {
    background-color: rgb(206, 183, 159);
  }
  #equals:hover {
    background-color: rgb(179, 231, 179);
  }
   #equals:active {
    background-color: rgb(160, 207, 160);
  }
}
#ac {
    background-color:rgb(255, 200, 200);
}
#c {
    background-color: rgb(255, 228, 200);
}
#equals {
    width: 133.5px;
    background-color: rgba(200, 255, 200);
}
#calculator, #screen, .button {
    border-width: 2px;
    border-color: #505050;
    border-style: solid;
    border-radius: 3px;
}